{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<table style="width:50%">
  <tr>
    <th>Songname</th>
    <th>Dur. (s)</th>
    <th>#Seg.</th>
    <th>Instruments</th>
  </tr>
{% for cur_name, cur_track in tracks.iterrows() %}
<tr>
  <td><a href="tracks/{{ cur_name }}.html">{{ cur_name }}</a></td>
  <td>{{ cur_track['duration']|int }}</td>
  <td>{{ cur_track['n_segments'] }}</td>
  <td>{{ cur_track['instruments_list'] }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
